<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- The Spring autowire consolewriter and filewriter to the logger.  -->
	<!-- To use byType, make sure objects are uniquely defined without ambiguous. -->
	<bean id="logger" class="com.yu.spring.Logger" autowire="byType">

	</bean>

	<bean id="consolewriter" class="com.yu.spring.ConsoleWriter"></bean>

	<bean id="filewriter" class="com.yu.spring.FileWriter"></bean>

</beans>
